:root {
  /// main
  --color-bg: #FFF;
  --color-seconary:#42567A;
  --color-accent-1:#3877EE;
  --color-accent-2:#5D5FEF;
  --color-accent-3:#EF5DA8 ;

  // with opacity
  --color-secondary-op02:#42567A33;
  --color-secondary-op05:#42567A80;

}
