@use '@/styles/_typography.scss';
.timelineCircleWrapper {
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .timelineCircle {
      position: relative;
      top:178px;
      left: 0;

    display: flex;
      justify-content: center;
      align-items: center;

      width: 530px;
      height: 530px;
      border: 1px solid var(--color-secondary-op02);
      border-radius: 50%;
      margin-bottom: 20px;

    .timelinePoint {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: var(--color-seconary);
      border-radius: 50%;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .timelinePoint.active {
      width: 56px;
      height: 56px;
      background-color: var(--color-bg);
      border: 1px solid var(--color-secondary-op05);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .timelinePoint:hover {
      width: 56px;
      height: 56px;
      background-color: white;
      border: 1px solid var(--color-secondary-op05);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .index {
        font-size: 16px;
        font-weight: var(--font-weight-bold);
        color: var(--color-seconary);
        pointer-events: none;
      }
    @media screen and (max-width: 590px) {
      display: none;
    }

    }

  .periodDetails {
      position: absolute;
      top: 60%;
      font-size: typography.fluid-font-size(80px, 200px);
      font-weight: var(--font-weight-bold);
      line-height: 100%;
      text-align: center;
      letter-spacing:-0.02em ;

      display: flex;
      gap: 4rem;
      z-index: -2;
    .startDate {
          color: var(--color-accent-2);
        }
    .endDate {
          color: var(--color-accent-3);
        }

    @media screen and (max-width: 1024px) {
      top: 70%;
      gap: 2rem;
    }
    @media screen and (max-width: 590px) {

      gap: 1rem;
    }
  }
}

